/* @import './styles/variables.css'; */
@import './styles/common.css';
:root {
  /* Colors */
  --dark-clr-800: #424040;
  --dark-clr-900: #0c0c0c;
  
  --light-clr-100: #fff;
  --light-clr-200: #f6f6f6;
  --light-clr-300: #ccc;
  
  --primary-clr-500: #4324c0;
  --secondary-clr-500: #35cef0;

  /* Fonts */
  --primary-ff: 'Montserrat', sans-serif;
  --fz-xs: 1rem;
  --fz-sm: 1.4rem;
  --fz-md: 1.6rem;
  --fz-lg: 2rem;

   /* Gutters */
  --p-xs: 1rem;
  --p-sm: 1.5rem;
  --p-md: 2rem;
  --p-lg: 2.5rem;
  --p-xl: 3rem;
  
  --m-xs: 1rem;
  --m-sm: 1.5rem;
  --m-md: 2rem;
  --m-lg: 2.5rem;
  --m-xl: 3rem;
  
   /* Defaults */
  --default-fz: var(--fz-md);
  --default-ff: var(--primary-ff);
  --default-clr: var(--dark-clr-900);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--default-fz);
  font-family: var(--default-ff);
  color: var(--default-clr);
}

button,
input {
  display: block;
  font-size: var(--default-fz);
  font-family: var(--default-ff);
}

img {
  display: block;
  width: 100%;
}

fieldset {
  border: none;
}

a {
  color: var(--default-clr);
}

a:hover {
  text-decoration: none;
}

/* App */

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app__content {
  display: flex;
  flex-grow: 1;
}

.app__sidebar {
  width: 30rem;
  flex-shrink: 0;
}

.app__main {
  flex-grow: 1;
  padding: var(--p-md);
}

.app__pagination {
  margin-top: var(--m-md);
}

/* Button */

.button {
  cursor: pointer;
  border-radius: 0.3rem;
}

.button--primary {
  border: none;
  padding: 1.6rem var(--p-lg);
  background-image: linear-gradient(to right, var(--primary-clr-500), var(--secondary-clr-500), var(--primary-clr-500));
  background-size: 200%;
  background-position: left center;
  color: var(--light-clr-100);
  transition: background-position 500ms ease;
}

.button--primary:hover {
  background-position: right center;
}

.button--secondary {
  padding: var(--p-sm) var(--p-lg);
  border: 0.1rem solid var(--dark-clr-800);
  background-color: var(--dark-clr-800);
  color: var(--light-clr-100);
  transition: background-color 200ms ease;
}

.button--secondary:hover {
  background-color: var(--dark-clr-900);
}

.toggledButton {
  padding: var(--p-sm) var(--p-lg);
  border: 0.1rem solid rgb(135, 42, 42);
  background-color: rgb(135, 42, 42);
  color: var(--light-clr-100);
  transition: background-color 200ms ease;
}

.toggledButton:hover {
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.form_button {
  padding: 7px;
  width: 100%;
  border: none;
  transition: background-color 200ms ease;
}

.singUp--button {
  background-color: rgb(21, 21, 206);
  color: var(--light-clr-100);
}

.cancel--button {
  padding-left: 50px;
  background-color: rgb(215, 215, 223);
  color: var(--dark-clr-900);
}

.singUp--button:hover {
  background-color: rgb(29, 86, 155);
}

.cancel--button:hover {
  background-color: rgb(134, 134, 150);
  color: var(--dark-clr-900);
}

.cart-button {
  position: relative;
}

.cart-button__quantity {
  font-size: var(--fz-xs);
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--light-clr-100);
  position: absolute;
  top: 0;
  right: 0;
  border: 0.1rem solid var(--dark-clr-800);
}

.cart-button__button {
  padding: 0;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  outline: 0;
}

.cart-button__icon {
  font-size: var(--fz-lg);
}

/* Footer */

.footer {
  padding: var(--p-sm);
  text-align: center;
}

.footer__copyright {
  font-size: var(--fz-sm);
  font-weight: 600;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  padding: var(--p-sm);
  background-color: var(--light-clr-100);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__actions {
  display: flex;
}

.header__button {
  margin-right: var(--m-sm);
}

/* Input */

.input {
  width: 100%;
  padding: var(--p-sm);
  border: 0.1rem solid var(--light-clr-300);
  border-radius: 0.3rem;
}

/* Loader */

.sk-fading-circle {
  margin: 10rem auto;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: var(--primary-clr-500);
  border-radius: 100%;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  animation-delay: -0.1s;
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
      opacity: 0;
  }

  40% {
      opacity: 1;
  }
}

/* Pagination */

.pagination {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}


.paginationItem.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  border: 1px solid #888;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

/* .pagination--hidden {
  display: none;
}

.pagination__button {
  padding: 0;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  outline: 0;
}

.pagination__button:not(:last-child) {
  margin-right: var(--m-xs);
}

.pagination__button--active {
  background-color: var(--light-clr-100);
  border: 0.1rem solid var(--dark-clr-800);
  color: var(--default-clr);
  cursor: default;
}

.pagination__button--active:hover {
  color: var(--default-clr);
  background-color: var(--light-clr-100);
} */

/* Product */

.product {
  padding: var(--p-sm);
  border-radius: 0.3rem;
  box-shadow: 0 0 1.2rem rgb(12 12 12 / 65%);
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--m-xs);
}

.product__category {
  font-size: var(--fz-md);
  font-weight: 600;
}

.product__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  margin-bottom: var(--m-xs);
}

.product__image {
  height: 100%;
  object-fit: contain;
}

.product__image--hidden {
  display: none;
}

.product__info {
  margin-bottom: var(--m-sm);
}

.product__manufacturer {
  font-size: var(--fz-lg);
  font-weight: 600;
}

.product__model {
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-clr-500);
}

.product__country {
  margin-bottom: var(--m-sm);
}

.product__warranty {
  display: block;
  margin-bottom: var(--m-sm);
}

.product__description {
  background-color: #f6f6f6;
  padding: var(--p-xs);
  border-radius: 0.3rem;
}

.product__footer {
  display: flex;
  padding-top: var(--p-sm);
  border-top: 0.1rem solid var(--light-clr-300);
}

.product__price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.product__label {
  font-weight: 600;
}

.product__currency {
  font-size: var(--fz-lg);
  font-weight: 600;
  color: var(--primary-clr-500);
}

.product__actions {
  display: flex;
  padding-left: var(--p-sm);
  margin-top: 10px;
  border-left: 0.1rem solid var(--light-clr-300);
}

.product__bottom {
  display: flex;
  justify-content: space-between;
}

.product__button {
  padding: 0;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  outline: 0;
}

.product__button:first-child {
  margin-right: var(--m-xs);
}

.product__icon {
  font-size: var(--fz-lg);
}

.product__icon__active {
  font-size: var(--fz-lg);
  color: red;
}

.product__icon.fa-heart {
  transform: translateY(0.1rem);
}

/* Product List */

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Rating */

.rating {
  color: var(--dark-clr-800);
}

/* Toolbar */

.toolbar {
  padding: var(--p-xs);
  border-top: 0.1rem solid var(--light-clr-300);
  border-bottom: 0.1rem solid var(--light-clr-300);
}

.toolbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar__categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.toolbar__search {
  max-width: 35rem;
  width: 100%;
}

.toolbar__button--active {
  background-color: var(--light-clr-100);
  border: 0.1rem solid var(--dark-clr-800);
  color: var(--default-clr);
  cursor: default;
}

.toolbar__button--active:hover {
  background-color: var(--light-clr-100);
}

/* sopping Cart */

.shopping-cart,
.singUp_form {
  width: 750px;
  height: 500px;
  margin: 80px auto;
  background: rgb(79, 122, 160);
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}

.singUp_form {
  justify-content: center;
  align-items: center;
}

.field {
  width: 35rem;
}

.input_field,
.error_input {
  padding: 3px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.error_input {
  border-bottom: 2px solid red;
}

.label_field {
  color: #fff;
  margin-top: 5px;
}

.fluid_buttons {
  margin-top: 20px;
  /* margin-right: 40px; */
  display: flex;
  width: 100%;
  justify-content: flex-start;
}


.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #ffff;
  font-size: 18px;
  font-weight: 400;
}

.cart_items {
  overflow: auto;
  height: 100%;
}

.item {
  padding-top: 10px;
  border-bottom: 1px solid #E1E8EE;
}

.item_details {
  padding: 5px 30px;
  height: auto;
  display: flex;
}

.item_info {
  padding: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  border:  1px solid #cbd1d6;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}
 
/* .pi:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
} */

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  padding: 2px;
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  position: absolute;
  top: 10rem;
  /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
}
 
.like-btn {
  position: absolute;
  top: 5rem;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
} 

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.cart__image-wrapper {
  height: 20px;
  margin-right: 50px;
  margin-top: 10px;
}
 
.cart__image {
  height: 18rem;
  width: 20rem;
  margin-right: 50px;
  background: rgb(255, 255, 255);
}
 
.description {
  height: 20rem;
  padding-top: 10px;
  margin-right: 60px;
  width: auto;
}

.description span {
  display: block;
  font-size: 14px;
  color: #cbd1d6;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 5px;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  /* -webkit-appearance: none; */
  border-radius: 6px;
  border: none;
  text-align: center;
  width: 30px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.btn {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.total--btn {
  width: 50px;
  padding: 2px;
}

.cancel-btn {
  width: 50px;
  padding-top: 8px;
}

.minus-btn {
  margin-top: 3px;
}
.plus-btn {
  margin-bottom: 2px;
}

button:focus,
input:focus {
  outline:0;
}

.empty_cart {
  height: 399px;
  display: block;
  align-items: center;
}

.total-price {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px solid #E1E8EE;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}

/* @media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .pi {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 50%;
  } 

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
} */